@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Lato:wght@100;300;400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --textcolor-white: #ffffff;
  --textcolor-black: rgba(0, 0, 0, 0.87);
  --bg--menu: #121342;
  --bg--container: #120e34;
  --text-hover: #f55858;
}

.row {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bg--container);
  scroll-behavior: smooth;
  overflow-y: hidden;
  color: var(--textcolor-white);
}

@media (min-width: 1400px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .container__web--music {
    width: 1400px;
    margin: auto;
  }
}

a {
  color: var(--textcolor-white);
  text-decoration: none;
}

a:hover {
  color: var(--text-hover);
}
a:checked{
  color: var(--textcolor-white);
}
a.active {
  color: var(--text-hover);
}

.container__web--music {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menu--brand__mobile {
  display: none;
  text-align: center;
}

.menu--brand__mobile img {
  width: 80px;
}

.close__menu--mobile {
  display: none;
}

.menu-navbar {
  display: none;
}

menu {
  background-color: var(--bg--menu);
  color: var(--textcolor-white);
  width: 250px;
  -webkit-transition: 0.9s;
  transition: 0.9s;
  padding-left: 12px;
  border-right: 2px solid var(--bg--menu);
  height: 89vh;
}

menu .menu--brand {
  text-align: center;
}

menu .menu--brand .logo {
  cursor: pointer;
  width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

menu nav {
  position: relative;
}

menu nav .nav--header {
  font-weight: 700;
  margin-bottom: 12px;
}

menu nav ul {
  list-style: none;
  margin: 0 12px;
  padding: 0;
}

menu nav ul li {
  margin-top: 8px;
  display: block;
  border-radius: 4px;
}

menu nav ul li .nav--title {
  margin-left: 6px;
}

menu nav ul li i {
  font-size: 16px;
}

menu nav ul li a {
  display: block;
  padding: 8px 12px;
}

menu nav ul li:hover a {
  color: var(--text-hover);
}

#menucheck:checked ~ menu {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  z-index: 4;
  -webkit-box-shadow: 2px 3px 2px #2b2222;
          box-shadow: 2px 3px 2px #2b2222;
}

.hidden {
  display: none;
}

@-webkit-keyframes rotatex {
  0% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}

@keyframes rotatex {
  0% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: var(--textcolor-white);
  padding-bottom: 100px;
  margin-top: 24px;
}

main i {
  font-size: 24px;
  cursor: pointer;
}

main .menu--main__container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

main .list--menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .list--menu__item a {
  font-weight: 600;
  cursor: pointer;
}

main .list--menu__item a:hover {
  color: var(--text-hover);
}

main .menu--search {
  color: var(--textcolor-white);
  background-color: var(--bg--menu);
  border-radius: 8px;
  position: relative;
}

main .menu--search .box__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .menu--search .box__search #search {
  outline: none;
  border: none;
  color: var(--textcolor-white);
  width: 90%;
  padding: 8px 12px;
  font-size: 1rem;
  background-color: var(--bg--menu);
}

main .menu--search .box__search .fa-magnifying-glass {
  font-size: 24px;
  color: var(--textcolor-white);
}

main .menu--search .result__search {
  position: absolute;
  top: 88%;
  left: 1%;
  width: 98%;
  font-size: 18px;
  background-color: var(--bg--menu);
  z-index: 100;
  padding-bottom: 4px;
  overflow-y: auto;
  max-height: 200px;
  -webkit-box-shadow: 1px 2px 4px #928080;
          box-shadow: 1px 2px 4px #928080;
}

main .menu--search .result__search::-webkit-scrollbar {
  width: 5px;
}

main .menu--search .result__search::-webkit-scrollbar-thumb {
  background-color: var(--text-hover);
  border-radius: 8px;
}

main .menu--search .result__search::-webkit-scrollbar-track {
  background-color: var(--bg--menu);
}

main .menu--search .result__search .result__search--key {
  padding: 12px 4px;
  font-size: 16px;
}

main .menu--search .result__search .list_result__search {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

main .menu--search .result__search .list_result__search li {
  padding: 8px 4px 4px 4px;
  background-color: var(--bg--menu);
}

main .menu--search .result__search .list_result__search .singer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 12px;
  border-radius: 4px;
}

main .menu--search .result__search .list_result__search .singer:hover {
  color: var(--textcolor-white);
  background-color: #a86d6d;
}

main .menu--search .result__search .list_result__search .singer--poster {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid gray;
  -o-object-fit: cover;
     object-fit: cover;
}

main .menu--search .result__search .list_result__search .singer--imf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .menu--search .result__search .list_result__search .singer--name {
  font-size: 16px;
  margin: 0;
}

main .menu--search .result__search .list_result__search .singer--des {
  font-size: 14px;
  margin: 0;
}

main .user--profile {
  color: var(--textcolor-white);
}

main .user--profile .profile--notice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-right: 16px;
}

main .user--profile .submenu--settings {
  z-index: 999;
}

main .user--profile .submenu--settings::before {
  content: "";
  position: absolute;
  top: -18px;
  left: 50%;
  border: 10px solid;
  border-color: transparent transparent var(--bg--menu) transparent;
}

main .user--profile .main--notice .submenu--settings {
  padding: 12px 24px;
  position: absolute;
  top: 130%;
  left: -100px;
  width: 240px;
  background-color: var(--bg--menu);
  border-radius: 8px;
  box-shadow: 0px 2px 3px;
}

main .user--profile .main--notice .submenu--settings::before {
  top: -17px;
  left: 46.5%;
}

main .user--profile .main--notice .submenu--settings .clothes__defaut {
  text-align: center;
}

main .user--profile .main--notice .submenu--settings .clothes__defaut .box__clothes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .user--profile .main--notice .submenu--settings .clothes__defaut .box__clothes .clothes__color {
  border: 2px solid #eb7c5a;
  cursor: pointer;
  margin: 0 4px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

main .user--profile .main--notice .submenu--settings .clothes__defaut .box__clothes .bgdefault {
  background-image: -webkit-gradient(linear, left top, right top, from(#202020), to(black));
  background-image: linear-gradient(to right, #202020, black);
}

main .user--profile .main--notice .submenu--settings .clothes__defaut .box__clothes .bgwhite {
  background-image: -webkit-gradient(linear, left top, right top, from(#312e2e), to(#1f0f0f));
  background-image: linear-gradient(to right, #312e2e, #1f0f0f);
}

main .user--profile .main--notice .submenu--settings .clothes__defaut .box__clothes .bgblue {
  background-image: -webkit-gradient(linear, left top, right top, from(#26275e), to(#1e1b3a));
  background-image: linear-gradient(to right, #26275e, #1e1b3a);
}

main .user--profile .main--settings .submenu--settings {
  position: absolute;
  top: 120%;
  left: -150px;
  width: 220px;
  background-color: var(--bg--menu);
  box-shadow: 0px 2px 3px;
}

main .user--profile .main--settings .submenu--settings::before {
  top: -14px;
  left: 72%;
}

main .user--profile .main--settings .submenu--settings ul {
  border-radius: 8px;
  list-style: none;
  margin: 0;
  padding: 0;

}

main .user--profile .main--settings .submenu--settings ul li {
  border-radius: 8px;
}

main .user--profile .main--settings .submenu--settings ul li a {
  padding: 4px 12px;
  display: block;
  margin: 4px;
  font-size: 18px;
  color: var(--textcolor-white);
}

main .user--profile .main--settings .submenu--settings ul li:hover {
  opacity: 0.7;
  background-color: var(--text-hover);
}

main .user--profile .main--profiles img {
  cursor: pointer;
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

main .user--profile .main--profiles .submenu--settings {
  position: absolute;
  background-color: var(--bg--menu);
  top: 120%;
  left: -170px;
  width: 220px;
  z-index: 10000;
}

main .user--profile .main--profiles .submenu--settings::before {
  top: -16px;
  left: unset;
  right: 10%;
}

main .user--profile .main--profiles .submenu--settings ul {
  border-radius: 8px;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: var(--bg--menu);
  -webkit-box-shadow: 1px 2px 3px #bbaeae;
          box-shadow: 1px 2px 3px #bbaeae;
}

main .user--profile .main--profiles .submenu--settings ul li {
  border-radius: 8px;
}

main .user--profile .main--profiles .submenu--settings ul li a {
  padding: 4px 12px;
  display: block;
  margin: 4px;
  font-size: 18px;
  color: var(--textcolor-white);
}

main .user--profile .main--profiles .submenu--settings ul li:hover {
  opacity: 0.7;
  background-color: var(--text-hover);
}

main .user--profile .main--profiles .total--notice {
  left: -100px;
}

main .user--profile .main--profiles .total--notice::after {
  top: -17px;
  left: unset;
  right: 12px;
}

main .user--profile .main--uploadfile .total--notice {
  left: -75%;
}

main .user--profile .main--uploadfile .total--notice::after {
  left: 41px;
}

main .user--profile .box__flex-style {
  background-color: var(--bg--menu);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  padding: 4px;
}

main .user--profile .guide__menufirst {
  position: relative;
  cursor: pointer;
}

main .user--profile .guide__menufirst i {
  font-size: 20px;
}

main .user--profile .guide__menufirst:hover .total--notice {
  display: block;
}

main .user--profile .total--notice {
  display: none;
  position: absolute;
  top: 130%;
  left: -50%;
  padding: 4px 12px;
  min-width: 80px;
  text-align: center;
  background-color: var(--bg--menu);
  font-size: 14px;
  border-radius: 8px;
  border-bottom: 1px solid;
  z-index: 1;
}

main .user--profile .total--notice::after {
  content: "";
  position: absolute;
  top: -18px;
  left: 30px;
  border: 10px solid;
  border-color: transparent transparent var(--bg--menu) transparent;
}

@media (max-width: 992px) {
  main {
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  .menu--search {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 96%;
    margin-left: 2%;
  }
  .total--notice {
    background-color: var(--bg--container) !important;
    color: var(--textcolor-white);
  }
  .submenu--settings {
    background-color: #21215c !important;
    box-shadow: 0px 2px 3px;
  }
  .submenu--settings::before {
    border-color: transparent transparent #21215c transparent !important;
  }
  .submenu--settings ul {
    background-color: #21215c !important;
  }
}

@media (max-width: 995px) {
  menu {
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transform: translateX(-400px);
            transform: translateX(-400px);
    height: 100vh;
  }
  menu .menu--brand {
    margin-top: 20%;
  }
  menu nav .nav--header {
    display: none;
  }
  
  .menu-navbar {
    display: block;
    font-size: 32px;
    cursor: pointer;
    color: var(--textcolor-white);
  }
  .menu--brand__mobile {
    display: block;
  }
  .close__menu--mobile {
    position: absolute;
    top: 4px;
    right: 12px;
    display: block;
    cursor: pointer;
  }
  .close__menu--mobile i {
    font-size: 36px;
    cursor: pointer;
  }
  .close__menu--mobile:hover i {
    -webkit-animation: rotatex 0.5s ease-in;
            animation: rotatex 0.5s ease-in;
  }
  #sub_astists .sub_astists-_list__music{

    height: 420px;

  }
}

article {
  padding: 4px 20px;
}
 @media (max-width:995px) {
  article{
    padding: 4px 12px;
  }
 }
#music__container {
  position: relative;
  overflow: hidden;
}

#music__container .singer__background {
  position: absolute;
  top: 0;
  right: 0%;
  width: 600px;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  z-index: -1;
}

#music__container p {
  padding: 0;
  margin: 6px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;;
}

#music__container .singer-name {
  font-size: 48px;
  font-weight: 700;
}

#music__container .music--box__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#music__container .music--box__header button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
}

#music__container .music--box__header button i {
  font-size: 16px;
}

#music__container .music--box__header button:hover {
  opacity: 0.7;
}

#music__container .music--box__header .btn-play {
  width: 160px;
  height: 46px;
  border-radius: 24px;
  background-color: var(--text-hover);
  font-size: 18px;
  font-weight: 600;
  color: var(--textcolor-white);
}

#music__container .music--box__header .btn-add {
  margin-left: 6px;
  width: 40px;
  height: 40px;
  font-size: 28px;
  border-radius: 4px;
  color: var(--textcolor-black);
  background-color: var(--textcolor-white);
}

#music__container .music--topchart {
  width: 45%;
  padding: 8px 24px;
  background-color: var(--bg--menu);
  -webkit-box-shadow: 7px 7px 14px var(--bg--container), -7px -7px 14px var(--bg--container);
          box-shadow: 7px 7px 14px var(--bg--container), -7px -7px 14px var(--bg--container);
  border-radius: 32px;
}

#music__container .music--topchart .list--topchart_singer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#music__container .music--topchart .list--topchart_singer .topchart_singer--box {
  width: 32%;
  text-align: center;
}

#music__container .music--topchart .list--topchart_singer .topchart_singer--box img {
  width: 80px;
  height: 80px;
  border-radius: 8px;
}

#music__container .music--topchart .list--topchart_singer .topchart_singer--box .singer--name {
  font-weight: 600;
  font-size: 16px;
  margin: 0;
  text-transform: capitalize;
}

#music__container .music--topchart .list--topchart_singer .topchart_singer--box .singer--des {
  opacity: 0.6;
  margin: 0;
  font-size: 14px;
  text-transform: capitalize; 
}

#music__container .music--topchart .list--topchart_singer a:hover {
  color: white;
}

#music__container .music--topchart__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#music__container .music--topchart__head h2 {
  font-size: 20px;
}

#music__container #music--artist {
  width: 70%;
}

#music__container #music--artist .topchart_singer--box {
  display: block;
  text-align: center;
}

#music__container #music--artist .topchart_singer--box img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

#music__container #music--artist .topchart_singer--box i {
  font-size: 12px;
}

#music__player {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 90px;
  padding-top: 12px;
  background-color: var(--bg--container);
  fill-opacity: 0.9;
  -webkit-box-shadow: 2px 3px 4px #3f3939;
          box-shadow: 2px 3px 4px #3f3939;
          border-top: 1px solid #916f6f;
}

#music__player .music__player--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#music__player .song__ifm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#music__player .song__ifm marquee {
  width: 100%;
}

#music__player .song__ifm img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

#music__player .song__ifm .song--des {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  max-width: 150px;
}

#music__player .player__control--container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#music__player .progress-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#music__player .progress-block .progress-block--timestamp {
  display: block;
  position: absolute;
  top: -40px;
  left: 0;
  background-color: var(--bg--menu);
  color: white;
  padding: 4px 12px;
  border-radius: 4px;
  box-shadow: 0px 0px 1px;
}

#music__player .progress-block .progress-block--timestamp::after {
  content: "";
  position: absolute;
  top: 90%;
  left: -1%;
  border: 10px solid;
  border-color: var(--bg--menu) transparent transparent transparent;
}

#music__player .progress-block:hover .main__progress {
  display: block;
}

#music__player .progress-block:hover .sub_progress {
  display: none;
}

#music__player .progress-block .sub_progress {
  display: block;
  margin: 0 8px;
  width: 80%;
  height: 4px;
  background-color: white;
  border-radius: 4px;
}

#music__player .progress-block .sub_progress .slide__sub_progress {
  width: 0%;
  background-color: var(--text-hover);
  height: 4px;
  border-radius: 4px;
}

#music__player .progress-block .main__progress {
  display: none;
  position: relative;
  width: 80%;
  margin: 0 8px;
}

#music__player .progress-block .main__progress .progress-range {
  width: 100%;
  cursor: pointer;
}

#music__player .player__control-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#music__player .player__control-btn .control-btn {
  margin: 0 12px;
}

#music__player .player__control-btn .control-btn i {
  font-size: 20px;
}

#music__player .player__control-btn .control-btn.active {
  color: var(--text-hover);
}

#music__player .player__control-btn .btn-play i {
  border-radius: 50%;
  background-color: white;
  font-size: 36px;
  border: 2px solid var(--text-hover);
  color: var(--text-hover);
}

#music__player .progress-volume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#music__player .progress-volume:hover .box_process--volume {
  display: none;
}

#music__player .progress-volume:hover #range__volume {
  display: block;
}

#music__player .progress-volume .box_process--volume {
  display: block;
  width: 60%;
  height: 4px;
  background-color: white;
  border-radius: 6px;
  cursor: pointer;
}

#music__player .progress-volume .box_process--volume .sub_process--volume {
  height: 4px;
  width: 100%;
  background-color: var(--text-hover) !important;
  border-radius: 6px;
}

#music__player .progress-volume i {
  cursor: pointer;
}

#music__player #range__volume {
  width: 60%;
  cursor: pointer;
  display: none;
}

#id_astists .box_astist {
  background-color: var(--bg--menu);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 24px 8px;
  text-align: center;
  border-radius: 24px;
  margin-top: 16px;
  cursor: pointer;
}

#id_astists .box_astist .artists__des--singer {
  font-size: 20px;
  text-transform: capitalize;
}

#id_astists .box_astist .artists__des--song__des {
  margin: 0;
}

#id_astists .box_astist img {
  width: 80%;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 24px;
}

.playlists {
  padding: 4px 8px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid var(--bg--menu);
}

.playlists .playlist--box__item {
  width: 70%;

  
}
.playlists:hover {
 opacity: 0.9;
  
}

.playlists .playlist--box__item .playlist__singer {
  cursor: pointer;
  color: var(--textcolor-white);
}

.playlists .playlist--box__item .playlist__singer .playlist__song-rank {
  font-size: 32px;
  font-weight: 900;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  -webkit-text-stroke: white;
}

.playlists .playlist--box__item .playlist__singer .playlist__singer-song {
  font-size: 16px;
  text-transform: capitalize;
}

.playlists .playlist--box__item .playlist__singer .playlist__singer-name {
  font-size: 14px;
  opacity: 0.7;
}

.playlists .playlists__avata {
  position: relative;
  margin: 0 12px;
  border-radius: 8px;
}

.playlists .playlists__avata img {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 4px solid var(--bg--menu);
}

.playlists .playlists__avata .playlists__avata--wave {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.8;
}

.playlists .playlists__avata .playlists__avata--wave .playlists__avata--pause {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--bg--container);
  opacity: 0.4;
  width: 100%;
  height: 100%;
}

.playlists .playlists__avata .playlists__avata--wave .playlists__avata--playing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin-left: 5%;
}

.playlists .playlists__avata .playlists__avata--wave .playlists__avata--playing .bar {
  border-radius: 10px;
  width: 4px;
  height: 4px;
  background-color: #f3f3f3 !important;
  -webkit-animation: loader 1.5s ease-in-out infinite;
          animation: loader 1.5s ease-in-out infinite;
}
.playlists .playlists__avata .playlists__avata--wave .playlists__avata--playing .bar:nth-child(1) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.playlists .playlists__avata .playlists__avata--wave .playlists__avata--playing .bar:nth-child(2) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.playlists .playlists__avata .playlists__avata--wave .playlists__avata--playing .bar:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.playlists .playlists__avata .playlists__avata--wave .playlists__avata--playing .bar:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.playlists .playlists__avata .playlists__avata--wave .playlists__avata--playing .bar:nth-child(5) {
}

.playlists .playlists__avata .playlists__avata--wave .playlists__avata--playing .bar:nth-child(6) {
}

.playlists .playlists__avata .playlists__avata--wave .playlists__avata--playing .bar:nth-child(7) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.playlists .playlists__avata .playlists__avata--wave .playlists__avata--playing .bar:nth-child(8) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.playlists .playlists__avata .playlists__avata--wave .playlists__avata--playing .bar:nth-child(9) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.playlists .playlists__avata .playlists__avata--wave .playlists__avata--playing .bar:nth-child(10) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}


.playlists .playlist__controller .playlist__option {
  position: relative;
  padding: 4px 6px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid transparent;
  z-index: 9999;
}

.playlists .playlist__controller .playlist__option:hover {
  border: 1px solid gray;
  background-color: var(--bg--container);
  fill-opacity: 0.8;

}

.playlists .playlist__controller .playlist__option:hover .playlist__option-box {
  display: block;
  z-index: 1000;
}

.playlists .playlist__controller .playlist__option .playlist__option-box {
  display: none;
  padding: 16px 0;
  border-radius: 4px;
  position: absolute;
  right: 32px;
  top: -90px;
  background-color: var(--bg--menu);
  width: 320px;
  -webkit-box-shadow: 0px 0px 4px #3f3737;
          box-shadow: 0px 0px 4px #615252;
  min-height: 300px;

}

.playlists .playlist__controller .playlist__option .playlist__option-box .option_box-song {
  padding: 0 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.playlist__option-box .option_box-song h3{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;

}
.playlists .playlist__controller .playlist__option .playlist__option-box .option_box-song img {
  margin-right: 12px;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  -o-object-fit: cover;
     object-fit: cover;
}

.playlists .playlist__controller .playlist__option .playlist__option-box .option_box-song i {
  font-size: 14px;
}

.playlists .playlist__controller .playlist__option .playlist__option-box .option_box--controller ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.playlists .playlist__controller .playlist__option .playlist__option-box .option_box--controller ul li {
  display: block;
  padding: 12px 0;
}

.playlists .playlist__controller .playlist__option .playlist__option-box .option_box--controller ul li a {
  margin-left: 12px;
  display: block;
}

.playlists .playlist__controller .playlist__option .playlist__option-box .option_box--controller ul li:hover {
  cursor: pointer;
  background-color: var(--bg--container);
}

.playlists:hover {
  background-color: var(--bg--menu);
}

#modal__comment {
  z-index: 4;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  opacity: 0.7;
}

.modal__comment-container {
  z-index: 5;
  position: fixed;
  top: 10vh;
  width: 60%;
  left: 20%;
  font-size: 16px;
  height: 80vh;
  background-color: var(--bg--menu);
  opacity: 1 !important;
  border-radius: 8px;
}

.modal__comment-container .modal__comment--close {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 24px;
  cursor: pointer;
}

.modal__comment-container .modal__comment--close:hover i {
  -webkit-animation: rotatex 0.5s ease-in;
          animation: rotatex 0.5s ease-in;
}

.modal__comment-container h2 {
  font-size: 24px;
  padding: 12px;
  margin: 0;
}

.modal__comment-container hr {
  margin: 0;
  padding: 0;
  margin: 8px;
  height: 2px;
}

.modal__comment-container .list__user ul {
  list-style: none;
  margin: 0;
  padding: 0 12px;
  height: 65vh;
  overflow-y: auto;
}

.modal__comment-container .list__user ul::-webkit-scrollbar {
  width: 5px;
}

.modal__comment-container .list__user ul::-webkit-scrollbar-thumb {
  background-color: var(--text-hover);
  border-radius: 8px;
}

.modal__comment-container .list__user ul::-webkit-scrollbar-track {
  background-color: var(--bg--menu);
}

.modal__comment-container .list__user ul li {
  margin-top: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal__comment-container .list__user ul li img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-radius: 4px solid gray;
  margin-right: 10px;
}

.modal__comment-container .list__user ul li user-name {
  font-size: 1em;
  font-weight: bold;
  color: var(--textcolor-white);
  text-transform: capitalize;
}

.modal__comment-container .list__user ul li user-time {
  opacity: 0.7;
  font-weight: 500;
  font-size: 0.8em;
  text-transform: lowercase;
}

.modal__comment-container .list__user ul li .user-content {
  font-size: 0.98em;
  color: var(--textcolor-white);
}

.modal__comment-container .conments__container__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
  background-color: var(--bg--menu);
}

.modal__comment-container .conments__container__submit .chating {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 8px 12px;
  border: none;
  outline: none;
  font-size: 16px;
  margin-right: 8px;
  border-radius: 12px;
}

.modal__comment-container .conments__container__submit .button {
  min-width: 100px;
}

@media (max-width: 1150px) {
  main .user--profile .profile--notice {
    padding-right: 0;
  }
  .music--Billboard {
    width: 60% !important;
  }
  #music__container .singer__background {
    display: none;
  }
}

@media (max-width: 760px) {
  main .user--profile .profile--notice {
    padding-right: 0;
  }
  .music--Billboard {
    width: 70% !important;
  }
  .song--des {
    width: 80px !important;
  }
  #container__all{
    margin-top: 8px;
}
#music__container #music--artist{
  width: 100%;
}
}

@media (max-width: 400px) {
  .playlists .playlist--box__item .playlist__singer .playlist__singer-song {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100px;
  }
  .playlists .playlist--box__item .playlist__singer .playlist__singer-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100px;
  }
  .playlist__singer-time {
    margin: 0 12px;
  }
  body main {
    width: 100%;
  }
  .playlists .playlist--box__item .playlist__singer .playlist__singer-song {
    width: 60px !important;
  }
  .playlists .playlist--box__item .playlist__singer .playlist__singer-name {
    width: 60px !important;
  }
  #music__container .music--topchart{
    padding: 8px 4px;
    border-radius: 12px;
  }
  #music__container .music--topchart__head{
    margin:12px 8px;
  }
  #music__container .music--topchart__head h2{
    font-size: 16px;
   
  }
  #container__all{
    height: 62vh;
  }
  .playlists .playlist__controller .playlist__option .playlist__option-box{
    width: 260px;
  }
}

#music__container #music--artist .singer--name{
  font-size: 16px !important;
  font-weight: bold;
}
#music__container #music--artist .singer--des{
  font-size: 16px !important;
  font-size: 14px;
  opacity: 0.8;
}
@media (max-width: 576px) {
  .music--topchart {
    width: 100% !important;
  }
  #music--artist {
    width: 100% !important;
  }
  body {
    margin: 0 !important;
    padding: 0 !important;
  }
  html {
    margin: 0 !important;
    padding: 0 !important;
  }
  #music__container p {
    font-size: 14px;
  }
 
  .submenu--settings {
    width: 320px !important;
    left: -138px !important;
    -webkit-box-shadow: 2px 1px 4px gray;
            box-shadow: 2px 1px 4px gray;
            z-index: 6;
  }
  .clothes__color {
    width: 40px !important;
    height: 40px !important;
  }
  .sub_astists-_list__music {
    padding: 0 !important;
  }
  .playlists .playlist--box__item .playlist__singer .playlist__song-rank {
    display: none;
  }
  .playlists .playlist--box__item .playlist__singer .playlist__singer-song {
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    
  }
  .playlists .playlist--box__item .playlist__singer .playlist__singer-name {
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
   
  }
  .playlists .playlist--box__item .playlist__singer{
  
  }
  .playlists .playlist--box__item img {
    width: 60px;
    height: 60px;
  }
  .playlists .playlist__controller .playlist__option .playlist__option-box {
    right: 30px;


  }

  .modal__comment-container {
    width: 90%;
    left: 5%;
    font-size: 17px;
  }
}

#sub_astists {
  background-color: var(--bg--menu);
  padding: 12px;
  border-radius: 12px;  
  min-height: 75vh;
}

#sub_astists .sub_astists-_list__music {
  background-color: var(--bg--menu);
  max-height: 420px;
  overflow-y:auto;
}

#sub_astists .sub_astists-_list__music::-webkit-scrollbar {
  width: 5px;
}

#sub_astists .sub_astists-_list__music::-webkit-scrollbar-thumb {
  background-color: var(--text-hover);
  border-radius: 8px;
  height: 4px;
}

#sub_astists .sub_astists-_list__music::-webkit-scrollbar-track {
  background-color: var(--bg--container);
}

#sub_astists .sub_astists-header img {
  border-radius: 12px;
  width: 200px;
  margin-right: 18px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

#sub_astists .sub_astists-header .sub_astists-singer_des {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
    margin-top: 8px;
}

#sub_astists .sub_astists-header .sub_astists-singer_des .singer_des--title {
  font-size: 20px;
  font-weight: 600;
}

#sub_astists .sub_astists-header .sub_astists-singer_des .singer_des--fullname {
  text-transform: capitalize;
  font-size: 32px;
  font-weight: bold;
}

#sub_astists .sub_astists-header .sub_astists-singer_des .singer_des--subtitle {
  opacity: 0.87;
}

#sub_astists .sub_astists-footer {
  color: var(--textcolor-white);
}

#sub_astists #music__container .singer-name {
  font-size: 30px;
}

@media (min-width: 420px) and (max-width: 576px) {
  .profile--notice {
    padding: 0 24px;
  }
}

@-webkit-keyframes loader {
  0%,
  100% {
    height: 2px;
  }
  50% {
    height: 30px;
  }
}

@keyframes loader {
  0%,
  100% {
    height: 2px;
  }
  50% {
    height: 30px;
  }
}

.d-flex-align-center-justify-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hidden {
  display: none !important;
}

.showonmobile {
  display: none;
}

.topchart_singer--box {
  cursor: pointer;
}

@media (max-width: 991.8px) {
  .showonmobile {
    display: block;
  }
}

#toast {
  z-index: 999;
  color: var(--textcolor-white);
  position: fixed;
  top: 70vh;
  left: 12px;
  display: block;
}

#toast .toast__container {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-top: 4px;
  background-color: var(--bg--container);
  padding: 4px 12px;
  -webkit-box-shadow: 0px 0px 3px gray;
          box-shadow: 0px 0px 3px gray;
}

#container__all {
  overflow-y: auto;
  height: 75vh;
  margin-bottom: 90px;
}

#container__all::-webkit-scrollbar {
  width: 0px;
}

#recent_playlist .recent_playlist--title {
  margin: 12px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#recent_playlist .recent__playlist--container {
  height: 68vh;
}

#recent_playlist .recent__playlist--container::-webkit-scrollbar {
  width: 5px;
}

#recent_playlist .recent__playlist--container::-webkit-scrollbar-thumb {
  background-color: var(--text-hover);
  border-radius: 8px;
}

#recent_playlist .recent__playlist--container::-webkit-scrollbar-track {
  background-color: rgba(70, 11, 179, 0.445);
  border-radius: 8px;
}

.button_play i {
  border-radius: 50%;
  background-color: var(--textcolor-white);
  font-size: 36px;
  border: 2px solid var(--text-hover);
  color: var(--text-hover);
}

@-webkit-keyframes fakeToast {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes fakeToast {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes fakeout {
  to {
    opacity: 0;
  }
}

@keyframes fakeout {
  to {
    opacity: 0;
  }
}

#footer_container{
  height: 18vh;
  width: 100%;
}

@media (min-width: 1000px) {
  #footer_container{
    height: 0px ;
  }
}

@media (max-width: 450px) {
  
  #id_astists .box_astist img{
    width: 96%;
    height: 180px;
    border-radius: 16px;
  }
  #id_astists .box_astist{
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media (max-width: 350px) {
  #id_astists .box_astist img{
    width: 98%;
    height: 140px;

  }
  #id_astists .box_astist .artists__des--singer{
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    margin-top: 8px;
  }
  #id_astists .box_astist .artists__des--song__des{
    font-size: 16px;
  }
}
/*# sourceMappingURL=style.css.map */